.container-response{
    border-radius: 5px;
    padding-top: 10px;
    background-color: #39FF14;
    font-weight:bold;
    }
    .error{
    border-radius: 5px;
    background-color: #FE0000;
    font-weight:bold;
    color:white;
    }
    .single-response{
    border-width: 2px;
    border-bottom-style: solid;
    border-color: black;
    }
    .submit{
    margin-top: 10px;
    }